software/Arduino/node_modules
software/Arduino/package.json
software/Arduino/package-lock.json
software/Arduino/.vscode/
.vscode
software/IA/API/.env
software/IA/API/node_modules
software/IA/API/package-lock.json
software/IA/API/src/Modal.json
software/IA/vision/node_modules
software/IA/vision/yolov3.weights
software/other/Animation Maker/node_modules
software/other/Animation Maker/package-lock.json
software/other/Gampad/node_modules
software/other/Gampad/package-lock.json
software/other/simulator/Aash Simulator/package-lock.json
software/other/simulator/Aash Simulator/node_modules
software/other/Serial Controller/package-lock.json
software/other/Serial Controller/node_modules
