software/Arduino/node_modules
software/Arduino/package.json
software/Arduino/package-lock.json
software/Arduino/.vscode/
.vscode
software/IA/API/.env
software/IA/API/node_modules
software/IA/API/package-lock.json
software/IA/API/src/Modal.json