software/Arduino/node_modules
software/Arduino/package.json
software/Arduino/package-lock.json
software/Arduino/.vscode/
.vscode
software/IA/API/.env
software/IA/API/node_modules
software/IA/API/package-lock.json
software/IA/API/src/Modal.json
software/IA/vision/node_modules
software/IA/vision/yolov3.weights
software/IA/LLAMA_API/models/modal.json
software/IA/Ollama tests/models/modal.json
software/IA/Ollama tests/models/chatHistory.json
software/IA/Ollama tests/Modelfile
software/IA/Ollama tests/models/model-format.json
software/IA/Ollama tests/models/model.json
